extends layout

block content
    .container
        script(src='/js/kvitter.js')
        nav.navbar.navbar-default.navbar-inverse(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Kvitter
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-left
                        form#msgForm.navbar-form.navbar-left
                            .form-group
                                input#msgQuery.form-control.col-lg-3(type='text', placeholder='Post message')
                                button#msgSubmit.btn.btn-default(type='submit') Submit
                    ul.nav.navbar-nav.navbar-right
                        li
                            a#logOut(href='/logout') Log out
                    ul.nav.navbar-text.navbar-right
                        li
                            #current-user.p Logged in as #{currentUser}
                    ul.nav.navbar-nav.navbar-right
                        form#searchForm.navbar-form.navbar-left(role='search')
                            .form-group
                                 input#searchQuery.form-control(type='text', placeholder='Search users')
                                 button#searchSubmit.btn.btn-default(type='submit') Submit
                #error.alert.alert-danger
        
        .col-md-2.column
            #searchBoxPanel.panel.panel-default
                .panel-heading
                    h3.panel-title Search results
                #searchBox.panel-body
            .panel.panel-default
                .panel-heading 
                    h3.panel-title #{user}'s friendlist
                .panel-body
                    each friend in friends
                        a(href='./#{friend}')= friend
                            br                                                             
        .col-md-9.column
          .panel.panel-default
            .panel-heading
                h3.panel-title #{user}'s Messages
            #user-messages.panel-body
                each msg in messages
                    .panel.panel-default
                        .panel-heading
                            a(href='./#{msg.poster}')
                                h3.panel-title From: #{msg.poster}
                        p(style='margin:5px')= msg.message